@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
}

html, body, #root {
  height: 100%;
}

.page-container{
  width: 80%;
  min-width: 300px;
  max-width: 1200px;
  height: inherit;
  display: flex;
  justify-content: center;
  margin: auto;
}

.custom-select {
  width: 100%;              
  max-width: 400px;          
  height: 40px;              
  padding: 10px;             
  border: 1px solid #ccc;    
  border-radius: 4px;        
  font-size: 16px;           
  box-sizing: border-box;    
}

.custom-select:focus {
  border-color: #007bff;     
  outline: none;             
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.image-frame {
  width: 200px; 
  height: 300px;
  border: 2px solid #ccc; 
  overflow: hidden; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.image-frame img {
  width: 100%; 
  height: auto; 
  /* height: 100%; */
}